 *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;

        }
        body{
            background-color: rgb(126, 29, 29);
        }
        .calculator{
            background-image: linear-gradient(red,white,rgb(189, 98, 98));
            height: 300px;
            width: 550px;
            padding: 20px;
            margin: 120px 0px 0px 120px;
            border-radius: 12px;
            outline: 0;

        }
        .work{
            width: 495px;
            padding: 10px;
            background-color: rgb(251, 247, 240);
            margin-top: 22px;
            border: 1px solid red;
            border-radius: 10px;
            
        }
        .work input{
            height: 33px;
            width: 330px;
            padding: 0px 10px;
            background-color: rgb(217, 196, 196);
            border-radius: 10px;
            border: 0;
            position: relative;
            
        }
        .work button{
            height: 30px;
            width: 90px;
            background-color: white;
            color:black;
            margin-left: 20px;
            border-radius: 10px;
            border:0;
            outline: 0;
        }
        .work input::-webkit-calendar-picker-indicator{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            position: absolute;
            background-position: calc(100%-10px);
            background-size: 20px;
            cursor: pointer;
            padding-left: 300px;
            padding-top: 7px;

        }
        #result{
            font-size: 20px;
            /* color: black; */
        }
        #result span{
            color:blue;
        }

        /* #secResult{
            font-size: 20px;
            /* color: black; */
        /* } */
        /* #secResult span{
            color:blue;
        } */ 